@{
    ViewBag.Title = "AngularLibrary";
}

<div ng-app="MyApp" ng-controller="myCtrl" ng-cloak>
    <div class="row">
        <div class="col-md-2">
            <div class="card horizontal" style="margin-top:80px; height:940px">
                <div class="card-stacked">
                    <div class="card-content">
                        <ul class="collection with-header">
                            <li><a href="#" id="mainTab" class="collection-item active" ng-click="searchName('', $index)" ng-class="{active: $index == selected}">Show all</a></li>
                        </ul>
                        <ul class="collection">
                            <li ng-repeat="g in genres">
                                <a href="#" class="collection-item" ng-click="searchName(g.GenreName, $index)" ng-class="{active: $index == selected}">{{g.GenreName}}</a>
                            </li>
                        </ul>

                        <hr />
                        <ul class="collection with-header">
                            <li class="collection-header"><h5>Editions</h5></li>
                        </ul>
</div>
                </div>
            </div>
        </div>

        <div class="col-md-10" style="padding-top:50px;">
            <div class="row">
               
                <p>Знайдено[{{(books|filter:search).length}}] книг</p>
                
                <nav>
                    <div class="nav-wrapper">
                        <form>
                            <div class="input-field">
                                <input id="search" type="search" placeholder="Search" ng-model="search">
                                <label class="label-icon" for="search"><i class="material-icons" style="color:black;">search</i></label>
                                <i class="material-icons">close</i>
                            </div>
                        </form>
                    </div>
                </nav>
                <br />
                
                <div class="card horizontal" style="height:885px;">
                    <div class="card-stacked">
                        <div class="card-content">
                            <div ng-repeat-start="r in books | orderBy:Id | orderBy:sortType:sortReverse| filter: search | Pagestart:(currentPage-1)*PerPageItems | limitTo:PerPageItems" class="clearfix" ng-if="$index % 2 == 0">

                            </div>
                            <div ng-repeat-end class="col-md-6" style="cursor: pointer; z-index: 1" ng-click="doSomething()">
                                <div class="row">
                                    <div class="col-md-5">
                                        <a ng-href="@Url.Action("book", "Books")?id={{::r.Id}}"><img ng-src="data:image/jpeg;base64,{{::toBase64(r.Cover)}}" width="180" class="img-rounded" /> </a>
                                    </div>
                                    <div class="col-md-7"  id="books">
                                        <p><a ng-href="@Url.Action("book", "Books")?id={{::r.Id}}"> {{::r.Name}} </a></p>
                                        <p>Author:<text> {{::r.AuthorName}}</text></p>
                                        <p>Year:<text> {{::r.Year.slice(6,19) | date}}</text></p>
                                        <p>Genre:<text> {{::r.GenreName}}</text></p>
                                        <p>
                                            <div ng-app="app" ng-controller="appController">
                                                <span class="label label-info">Star Rating:</span>
                                                <div star-rating rating="starRating2" read-only="true" max-rating="5" click="click2(param)" mouse-hover="mouseHover2(param)" mouse-leave="mouseLeave2(param)"></div>
                                            </div>
                                        </p>

                                        <p>
                                            Formats:
                                            <text ng-repeat="l in link" ng-if="l.Id==r.Id" id="links">
                                                <a ng-href="@Url.Action("DownloadBook", "Books")?path={{::l.FileName}}"> {{::getType(l.FileName)}} </a>
                                            </text>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-action">
                            <div ng-show="books.length" style="text-align:center">
                                <button type="button" class="waves-effect waves-light btn" ng-disabled="currentPage == 1"
                                        ng-click="currentPage=currentPage-1">
                                    Prev
                                </button>
                                <span>Page {{currentPage}} of {{ numberOfPages() }}</span>

                                <button type="button" class="waves-effect waves-light btn" ng-disabled="currentPage == numberOfPages()"
                                        ng-click="currentPage = currentPage+1">
                                    Next
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

            <div class="col-md-9 col-md-offset-3" ng-show="rcomm.length">
                <div class="card horizontal">
                    <div class="card-stacked">
                        <div class="card-content">
                            <p style="text-align:center; font-weight:bold; color:darkcyan">Last Reviews</p>
                            <table class="table">
                                <tr ng-repeat="c in rcomm track by c.Id">
                                    <td width="100">
                                        <div ng-repeat="b in books" ng-if="c.BookId==b.Id">
                                            <p style="text-align:center"><a ng-href="@Url.Action("book", "Books")?id={{::b.Id}}"><img ng-src="data:image/jpeg;base64,{{::toBase64(b.Cover)}}" width="100" class="img-rounded" /> </a></p>
                                            <p style="text-align:center">{{b.AuthorName}}</p>
                                            <p>
                                                <div ng-app="app" ng-controller="appController" style="text-align:center">
                                                    <span class="label label-info" style="text-align:center">Star Rating:</span>
                                                    <div star-rating rating="starRating3" read-only="true" max-rating="5" click="click2(param)" mouse-hover="mouseHover2(param)" mouse-leave="mouseLeave2(param)"></div>
                                                </div>
                                            </p>
                                        </div>

                                    </td>
                                    <td width="400">
                                        <p style="font-weight:bold; color:darkcyan">{{c.UserName}}</p>

                                        <p id="CommentBody" ng-bind-html="c.CommentBody | unsafe"></p>
                                        <p style="text-align:center">
                                            {{c.CommentTime.slice(6,19) | date:'medium'}}
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="card-action">
                            <button type="button" class="waves-effect waves-light btn right">Read More</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

